 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }

 



@keyframes animacion_1{
    0% {background-color: red;left: 0px;top: 0px;clip-path: polygon(50% 0%,100% 100%,0% 100%);transform:rotate3d(360deg);}
     25%{background-color: blue;left: 1840px;top: 0px;border-radius: 0px;clip-path: circle(50% 50%,50% 50%);transform:rotate3d(360deg);}
    50%{background-color: gold;left: 1840px;top: 870px;border-radius: 0px;clip-path: polygon(0% 0%, 100% 0%, 50% 100%); transform:rotate3d(360deg);}
    75%{background-color: blueviolet;left: 0px;top: 870px;border-radius: 0px;clip-path: ellipse();transform:rotate3d(360deg);}
     100%{background-color: greenyellow;left: 0px;top: 0px;}  
}

.caja_1{
    position: relative;
    width: 100px;
    height: 100px;
    animation-name: animacion_1; 
    animation-duration: 5s;
    animation-iteration-count: infinite;
} 

/* img {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: crimson;
    animation-name: animacion_1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
} */



/* @keyframes animacion_2{
    0% {background-color: aqua;left: 0px;top: 0px;}
    33%{background-color: deeppink;left: 500px;top: 500px;}
    66%{background-color: gold;left: 1000px;top: 0;}
    100%{background-color: green;left: 0px;top: 0px;}


}
.caja_2{
    position: relative;
    width: 100px;
    height: 100px;
    animation-name: animacion_2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
} */ 


