.caja_1{
    animation-name: animation_1;
    width: 100px;
    height: 100px;
    animation-duration: 1s;
    background-color: blue;
}
@keyframes animation_1{
    from{background-color: blue;}
    to{background-color: blueviolet;}
}
@keyframes animation_2{
    from{background-color: aqua; left: 0px;}
    to{background-color: brown; left: 500px;}

}
.caja_2{
    position: relative;
    animation-name: animation_2;
    width: 100px;
    height: 100px;
    animation-duration: 1s;
    background-color:aqua;
}
@keyframes animation_3{
    0% {background-color: rgb(234, 145, 11); left: 0px; top: 0px;}
    50% {background-color: rgb(27, 199, 76); left: 500px; top: 500;}
    100% {background-color: chocolate;left: 000px; top: 00px;}

}
.caja_3{
    position: relative;
    animation-name: animation_3;
    width: 100px;
    height: 100px;
    animation-duration: 1s;
    background-color:rgb(234, 145, 11);
}
